<div class="jumbotron p-4">
  <p class="text-success"><%= notice %></p>

  <h5 class="display-4"> Name:  <%= @friend.first_name %> <%= @friend.last_name%></h5>
  <p class="lead">Email: <%= @friend.email %></p>
  <p class="lead">Phone: <%= @friend.phone %></p>
  <p class="lead">Twitter: <%= @friend.twitter %></p>

  <div class="mt-4">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-success mr-2" %>
    <%= link_to "Back to friends", friends_path, class:"btn btn-dark mr-2" %>
    <br><br/>
    <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
